---
import { Sheet } from "@everybody-gives/ui";
import { NewGroupForm } from "../components/NewGroupForm";
import Layout from "../layouts/Layout.astro";
---
<Layout title="everybody.gives">
  <Sheet>
    <NewGroupForm client:load />
  </Sheet>
</Layout>